*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fredoka One', cursive;
    
}
h1{
    color: #e53170;
    margin-bottom: 40px;
    padding-left: 450px;
}
p{
    margin-bottom: 40px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}
section{
    max-width: 900px;
    margin: 0 auto;
}
.card{
    width: 250px;
    height: 80px;
    background-color: navy;
    border: 1px solid black;
    float: left;
    margin-left: 20px;
    margin-bottom: 40px;
}
